# 数据预处理

In [11]:
import os
import pandas as pd
import torch

#### csv(comma seperated values)，用逗号隔开值

In [5]:
os.makedirs(os.path.join('..', 'data'), exist_ok = True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')

with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n') ##列名
    f.write('NA, Pavem, 127500\n') ##每行代表一个数据样本,\n换行
    f.write('2, NA, 112322\n')
    f.write('3, NA, 1232\n')

In [8]:
data = pd.read_csv(data_file)
data

   NumRooms   Alley   Price
0       NaN   Pavem  127500
1       2.0      NA  112322
2       3.0      NA    1232

In [9]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms   Alley
0       2.5   Pavem
1       2.0      NA
2       3.0      NA

C:\Users\28089\AppData\Local\Temp\ipykernel_29588\38268100.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  inputs = inputs.fillna(inputs.mean())

In [10]:
inputs = pd.get_dummies(inputs, dummy_na = True)
print(inputs)

   NumRooms   Alley_ NA   Alley_ Pavem   Alley_nan
0       2.5           0              1           0
1       2.0           1              0           0
2       3.0           1              0           0

In [13]:
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[2.5000, 0.0000, 1.0000, 0.0000],
         [2.0000, 1.0000, 0.0000, 0.0000],
         [3.0000, 1.0000, 0.0000, 0.0000]], dtype=torch.float64),
 tensor([127500, 112322,   1232]))